.first {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  margin: 20px;
  border: 20px solid blue;
}

.second {
  width: 100px;
  height: 100px;
  background-color: red;
  margin: 20px;
  box-sizing: border-box;
  border: 20px solid blue;
}
